cargo-features = ["resolver"]

[workspace]
resolver = "2"

members = [
	"bin/node/cli",
    "bin/node/runtime",
     "frame/nft",
#    "frame/realis-game-api",
    "frame/staking-pool",
]

# Override `node-runtime` dependency in `node-executor` dependencies with our local forked version.
# `node-executor` is a dependecy of a `node-cli` at `bin/node/cli`.
[patch.'https://github.com/paritytech/substrate']
node-runtime = { path = "bin/node/runtime" }
pallet-staking = {path = "frame/staking-pool"}
pallet-nft = {path = "frame/nft"}
[profile.dev]
split-debuginfo = "unpacked"

[profile.release]
panic = "unwind"
