[package]
name = "node-cli"
version = "3.0.0-dev"
authors = ["Parity Technologies <admin@parity.io>"]
description = "Generic Substrate node implementation in Rust."
build = "build.rs"
edition = "2018"
license = "GPL-3.0-or-later WITH Classpath-exception-2.0"
default-run = "realis"
homepage = "https://substrate.dev"
repository = "https://github.com/paritytech/substrate/"

[package.metadata.wasm-pack.profile.release]
# `wasm-opt` has some problems on linux, see
# https://github.com/rustwasm/wasm-pack/issues/781 etc.
wasm-opt = false

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[[bin]]
name = "realis"
path = "bin/main.rs"
required-features = ["cli"]

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
# third-party dependencies
codec = { package = "parity-scale-codec", version = "2.0.0" }
serde = { version = "1.0.133", features = ["derive"] }
futures = { version = "0.3.21", features = ["compat"] }
hex-literal = "0.3.4"
log = "0.4.17"
rand = "0.8.5"
structopt = { version = "0.3.8", optional = true }
parking_lot = "0.12.0"
getrandom = { version = "0.2.5", features = ["js"] }

# primitives
sp-authority-discovery = { version = "4.0.0-dev", git = "https://github.com/RealisNetwork/substrate", branch = "polkadot-v0.9.9" }
sp-consensus-babe = { version = "0.10.0-dev", git = "https://github.com/RealisNetwork/substrate", branch = "polkadot-v0.9.9" }
grandpa-primitives = { version = "4.0.0-dev", package = "sp-finality-grandpa", git = "https://github.com/RealisNetwork/substrate", branch = "polkadot-v0.9.9" }
sp-core = { version = "4.0.0-dev", git = "https://github.com/RealisNetwork/substrate", branch = "polkadot-v0.9.9" }
sp-runtime = { version = "4.0.0-dev", git = "https://github.com/RealisNetwork/substrate", branch = "polkadot-v0.9.9" }
sp-timestamp = { version = "4.0.0-dev", git = "https://github.com/RealisNetwork/substrate", branch = "polkadot-v0.9.9" }
sp-authorship = { version = "4.0.0-dev", git = "https://github.com/RealisNetwork/substrate", branch = "polkadot-v0.9.9" }
sp-inherents = { version = "4.0.0-dev", git = "https://github.com/RealisNetwork/substrate", branch = "polkadot-v0.9.9" }
sp-keyring = { version = "4.0.0-dev", git = "https://github.com/RealisNetwork/substrate", branch = "polkadot-v0.9.9" }
sp-keystore = { version = "0.10.0-dev", git = "https://github.com/RealisNetwork/substrate", branch = "polkadot-v0.9.9" }
sp-io = { version = "4.0.0-dev", git = "https://github.com/RealisNetwork/substrate", branch = "polkadot-v0.9.9" }
sp-consensus = { version = "0.10.0-dev", git = "https://github.com/RealisNetwork/substrate", branch = "polkadot-v0.9.9" }
sp-transaction-pool = { version = "4.0.0-dev", git = "https://github.com/RealisNetwork/substrate", branch = "polkadot-v0.9.9" }
sp-transaction-storage-proof = { version = "4.0.0-dev", git = "https://github.com/RealisNetwork/substrate", branch = "polkadot-v0.9.9" }

# client dependencies
sc-client-api = { version = "4.0.0-dev", git = "https://github.com/RealisNetwork/substrate", branch = "polkadot-v0.9.9" }
sc-chain-spec = { version = "4.0.0-dev", git = "https://github.com/RealisNetwork/substrate", branch = "polkadot-v0.9.9" }
sc-consensus = { version = "0.10.0-dev", git = "https://github.com/RealisNetwork/substrate", branch = "polkadot-v0.9.9" }
sc-transaction-pool = { version = "4.0.0-dev", git = "https://github.com/RealisNetwork/substrate", branch = "polkadot-v0.9.9" }
sc-transaction-pool-api = { version = "4.0.0-dev", git = "https://github.com/RealisNetwork/substrate", branch = "polkadot-v0.9.9" }
sc-network = { version = "0.10.0-dev", git = "https://github.com/RealisNetwork/substrate", branch = "polkadot-v0.9.9" }
sc-consensus-slots = { version = "0.10.0-dev", git = "https://github.com/RealisNetwork/substrate", branch = "polkadot-v0.9.9" }
sc-consensus-babe = { version = "0.10.0-dev", git = "https://github.com/RealisNetwork/substrate", branch = "polkadot-v0.9.9" }
sc-consensus-uncles = { version = "0.10.0-dev", git = "https://github.com/RealisNetwork/substrate", branch = "polkadot-v0.9.9" }
grandpa = { version = "0.10.0-dev", package = "sc-finality-grandpa", git = "https://github.com/RealisNetwork/substrate", branch = "polkadot-v0.9.9"}


sc-rpc = { version = "4.0.0-dev", git = "https://github.com/RealisNetwork/substrate", branch = "polkadot-v0.9.9" }
sc-basic-authorship = { version = "0.10.0-dev", git = "https://github.com/RealisNetwork/substrate", branch = "polkadot-v0.9.9" }
sc-service = { version = "0.10.0-dev", default-features = false, git = "https://github.com/RealisNetwork/substrate", branch = "polkadot-v0.9.9" }

sc-telemetry = { version = "4.0.0-dev", git = "https://github.com/RealisNetwork/substrate", branch = "polkadot-v0.9.9" }
#sc-executor = { version = "0.10.0-dev", git = "https://github.com/RealisNetwork/substrate", branch = "polkadot-v0.9.9" }
sc-authority-discovery = { version = "0.10.0-dev", git = "https://github.com/RealisNetwork/substrate", branch = "polkadot-v0.9.9" }
sc-sync-state-rpc = { version = "0.10.0-dev", git = "https://github.com/RealisNetwork/substrate", branch = "polkadot-v0.9.9" }

# frame dependencies
frame-system = { version = "4.0.0-dev", git = "https://github.com/RealisNetwork/substrate", branch = "polkadot-v0.9.9" }
pallet-transaction-payment = { version = "4.0.0-dev", git = "https://github.com/RealisNetwork/substrate", branch = "polkadot-v0.9.9" }
pallet-im-online = { version = "4.0.0-dev", default-features = false, git = "https://github.com/RealisNetwork/substrate", branch = "polkadot-v0.9.9" }

# node-specific dependencies
#node-runtime = { version = "3.0.0-dev", git = "https://github.com/RealisNetwork/substrate", branch = "master" }
node-runtime = { version = "3.0.0-dev", path = "../runtime", package = "realis-node-runtime" }
node-rpc = { version = "3.0.0-dev", git = "https://github.com/RealisNetwork/substrate", branch = "polkadot-v0.9.9" }
node-primitives = { version = "2.0.0", git = "https://github.com/RealisNetwork/substrate", branch = "polkadot-v0.9.9" }
node-executor = { version = "3.0.0-dev", git = "https://github.com/RealisNetwork/substrate", branch = "polkadot-v0.9.9" }

# CLI-specific dependencies
sc-cli = { version = "0.10.0-dev", optional = true, git = "https://github.com/RealisNetwork/substrate", branch = "polkadot-v0.9.9" }
frame-benchmarking-cli = { version = "4.0.0-dev", optional = true, git = "https://github.com/RealisNetwork/substrate", branch = "polkadot-v0.9.9" }
node-inspect = { version = "0.9.0-dev", optional = true, git = "https://github.com/RealisNetwork/substrate", branch = "polkadot-v0.9.9" }
try-runtime-cli = { version = "0.10.0-dev", optional = true, git = "https://github.com/RealisNetwork/substrate", branch = "polkadot-v0.9.9" }

[target.'cfg(target_arch="x86_64")'.dependencies]
sp-trie = { version = "4.0.0-dev", default-features = false, git = "https://github.com/RealisNetwork/substrate", branch = "polkadot-v0.9.9", features = [
	"memory-tracker",
] }

[dev-dependencies]
sc-keystore = { version = "4.0.0-dev", git = "https://github.com/RealisNetwork/substrate", branch = "polkadot-v0.9.9" }
sc-consensus = { version = "0.10.0-dev", git = "https://github.com/RealisNetwork/substrate", branch = "polkadot-v0.9.9" }
sc-consensus-babe = { version = "0.10.0-dev", git = "https://github.com/RealisNetwork/substrate", branch = "polkadot-v0.9.9" }
sc-consensus-epochs = { version = "0.10.0-dev", git = "https://github.com/RealisNetwork/substrate", branch = "polkadot-v0.9.9" }
sc-service-test = { version = "2.0.0", git = "https://github.com/RealisNetwork/substrate", branch = "polkadot-v0.9.9" }
futures = "0.3.21"
tempfile = "3.1.0"
assert_cmd = "2.0"
nix = "0.23"
serde_json = "1.0"
regex = "1"
platforms = "2.0"
async-std = { version = "1.6.5", features = ["attributes"] }
soketto = "0.7.1"

[build-dependencies]
structopt = { version = "0.3.8", optional = true }
node-inspect = { version = "0.9.0-dev", optional = true, git = "https://github.com/RealisNetwork/substrate", branch = "polkadot-v0.9.9" }
frame-benchmarking-cli = { version = "4.0.0-dev", optional = true, git = "https://github.com/RealisNetwork/substrate", branch = "polkadot-v0.9.9" }
substrate-build-script-utils = { version = "3.0.0", optional = true, git = "https://github.com/RealisNetwork/substrate", branch = "polkadot-v0.9.9" }
substrate-frame-cli = { version = "4.0.0-dev", optional = true, git = "https://github.com/RealisNetwork/substrate", branch = "polkadot-v0.9.9" }
try-runtime-cli = { version = "0.10.0-dev", optional = true, git = "https://github.com/RealisNetwork/substrate", branch = "polkadot-v0.9.9" }
sc-cli = { version = "0.10.0-dev", optional = true, git = "https://github.com/RealisNetwork/substrate", branch = "polkadot-v0.9.9" }

[features]
default = [ "cli" ]
cli = [
	"node-executor/wasmi-errno",
	"node-inspect",
	"sc-cli",
	"frame-benchmarking-cli",
	"substrate-frame-cli",
	"sc-service/db",
	"structopt",
	"substrate-build-script-utils",
	"try-runtime-cli",
	"node-runtime/std",
]
runtime-benchmarks = [
	"node-runtime/runtime-benchmarks",
	"frame-benchmarking-cli",
]
# Enable features that allow the runtime to be tried and debugged. Name might be subject to change
# in the near future.
try-runtime = ["node-runtime/try-runtime", "try-runtime-cli"]
