[package]
name = "realis-node-runtime"
version = "3.0.0-dev"
authors = ["Parity Technologies <admin@parity.io>"]
edition = "2018"
build = "build.rs"
license = "Apache-2.0"
homepage = "https://substrate.dev"
repository = "https://github.com/paritytech/substrate/"

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[dependencies]

# third-party dependencies
codec = { package = "parity-scale-codec", version = "2.2.0", default-features = false, features = ["derive", "max-encoded-len"] }
log = { version = "0.4.17", default-features = false }
static_assertions = "1.1.0"
hex-literal = { version = "0.3.4", optional = true }
getrandom = { version = "0.2.5", features = ["js"] }

# primitives
sp-authority-discovery = { default-features = false, git = "https://github.com/RealisNetwork/substrate", branch = "polkadot-v0.9.9" }
sp-consensus-babe = { default-features = false, git = "https://github.com/RealisNetwork/substrate", branch = "polkadot-v0.9.9" }
sp-block-builder = { default-features = false, git = "https://github.com/RealisNetwork/substrate", branch = "polkadot-v0.9.9" }
sp-inherents = { default-features = false, git = "https://github.com/RealisNetwork/substrate", branch = "polkadot-v0.9.9" }
node-primitives = { default-features = false, git = "https://github.com/RealisNetwork/substrate", branch = "polkadot-v0.9.9" }
sp-offchain = { default-features = false, git = "https://github.com/RealisNetwork/substrate", branch = "polkadot-v0.9.9" }
sp-core = { default-features = false, git = "https://github.com/RealisNetwork/substrate", branch = "polkadot-v0.9.9" }
sp-std = { default-features = false, git = "https://github.com/RealisNetwork/substrate", branch = "polkadot-v0.9.9" }
sp-api = { default-features = false, git = "https://github.com/RealisNetwork/substrate", branch = "polkadot-v0.9.9" }
sp-io = { default-features = false, git = "https://github.com/RealisNetwork/substrate", branch = "polkadot-v0.9.9" }
sp-runtime = {default-features = false, git = "https://github.com/RealisNetwork/substrate", branch = "polkadot-v0.9.9" }
sp-staking = { default-features = false, git = "https://github.com/RealisNetwork/substrate", branch = "polkadot-v0.9.9" }
#sp-keyring = { optional = true, git = "https://github.com/RealisNetwork/substrate", branch = "polkadot-v0.9.9" }
sp-session = { default-features = false, git = "https://github.com/RealisNetwork/substrate", branch = "polkadot-v0.9.9" }
sp-transaction-pool = { default-features = false, git = "https://github.com/RealisNetwork/substrate", branch = "polkadot-v0.9.9" }
sp-version = { default-features = false, git = "https://github.com/RealisNetwork/substrate", branch = "polkadot-v0.9.9" }
sp-npos-elections = { default-features = false, git = "https://github.com/RealisNetwork/substrate", branch = "polkadot-v0.9.9" }

# frame dependencies
frame-executive = { default-features = false, git = "https://github.com/RealisNetwork/substrate", branch = "polkadot-v0.9.9" }
frame-benchmarking = { default-features = false, git = "https://github.com/RealisNetwork/substrate", branch = "polkadot-v0.9.9", optional = true }
frame-support = { default-features = false, git = "https://github.com/RealisNetwork/substrate", branch = "polkadot-v0.9.9" }
frame-system = { default-features = false, git = "https://github.com/RealisNetwork/substrate", branch = "polkadot-v0.9.9" }
frame-system-benchmarking = { default-features = false, git = "https://github.com/RealisNetwork/substrate", branch = "polkadot-v0.9.9", optional = true }
frame-election-provider-support = { default-features = false, git = "https://github.com/RealisNetwork/substrate", branch = "polkadot-v0.9.9" }
frame-system-rpc-runtime-api = { default-features = false, git = "https://github.com/RealisNetwork/substrate", branch = "polkadot-v0.9.9" }
frame-try-runtime = { default-features = false, git = "https://github.com/RealisNetwork/substrate", branch = "polkadot-v0.9.9", optional = true }

# pallet dependencies
pallet-assets = { default-features = false, git = "https://github.com/RealisNetwork/substrate", branch = "polkadot-v0.9.9" }
pallet-authority-discovery = { default-features = false, git = "https://github.com/RealisNetwork/substrate", branch = "polkadot-v0.9.9" }
pallet-authorship = { default-features = false, git = "https://github.com/RealisNetwork/substrate", branch = "polkadot-v0.9.9" }
pallet-babe = { default-features = false, git = "https://github.com/RealisNetwork/substrate", branch = "polkadot-v0.9.9" }
pallet-balances = { default-features = false, git = "https://github.com/RealisNetwork/substrate", branch = "polkadot-v0.9.9" }
#pallet-bounties = { default-features = false, git = "https://github.com/RealisNetwork/substrate", branch = "polkadot-v0.9.9" }
#pallet-collective = { default-features = false, git = "https://github.com/RealisNetwork/substrate", branch = "polkadot-v0.9.9" }
pallet-contracts = { default-features = false, git = "https://github.com/RealisNetwork/substrate", branch = "polkadot-v0.9.9" }
pallet-contracts-primitives = { default-features = false, git = "https://github.com/RealisNetwork/substrate", branch = "polkadot-v0.9.9" }
pallet-contracts-rpc-runtime-api = { default-features = false, git = "https://github.com/RealisNetwork/substrate", branch = "polkadot-v0.9.9" }
#pallet-democracy = { default-features = false, git = "https://github.com/RealisNetwork/substrate", branch = "polkadot-v0.9.9" }
pallet-election-provider-multi-phase = { default-features = false, git = "https://github.com/RealisNetwork/substrate", branch = "polkadot-v0.9.9" }
#pallet-elections-phragmen = { default-features = false, git = "https://github.com/RealisNetwork/substrate", branch = "polkadot-v0.9.9" }
pallet-gilt = { default-features = false, git = "https://github.com/RealisNetwork/substrate", branch = "polkadot-v0.9.9" }
pallet-grandpa = { default-features = false, git = "https://github.com/RealisNetwork/substrate", branch = "polkadot-v0.9.9" }
pallet-im-online = { default-features = false, git = "https://github.com/RealisNetwork/substrate", branch = "polkadot-v0.9.9" }
pallet-indices = { default-features = false, git = "https://github.com/RealisNetwork/substrate", branch = "polkadot-v0.9.9" }
pallet-identity = { default-features = false, git = "https://github.com/RealisNetwork/substrate", branch = "polkadot-v0.9.9" }
pallet-lottery = { default-features = false, git = "https://github.com/RealisNetwork/substrate", branch = "polkadot-v0.9.9" }
#pallet-membership = { default-features = false, git = "https://github.com/RealisNetwork/substrate", branch = "polkadot-v0.9.9" }
pallet-mmr = { default-features = false, git = "https://github.com/RealisNetwork/substrate", branch = "polkadot-v0.9.9" }
pallet-multisig = { default-features = false, git = "https://github.com/RealisNetwork/substrate", branch = "polkadot-v0.9.9" }
pallet-offences = { default-features = false, git = "https://github.com/RealisNetwork/substrate", branch = "polkadot-v0.9.9" }
#pallet-offences-benchmarking = { default-features = false, git = "https://github.com/RealisNetwork/substrate", branch = "polkadot-v0.9.9" }
#pallet-proxy = { default-features = false, git = "https://github.com/RealisNetwork/substrate", branch = "polkadot-v0.9.9" }
pallet-randomness-collective-flip = { default-features = false, git = "https://github.com/RealisNetwork/substrate", branch = "polkadot-v0.9.9" }
pallet-recovery = { default-features = false, git = "https://github.com/RealisNetwork/substrate", branch = "polkadot-v0.9.9" }
pallet-session = { default-features = false, features = ["historical"], git = "https://github.com/RealisNetwork/substrate", branch = "polkadot-v0.9.9" }
pallet-session-benchmarking = { default-features = false, git = "https://github.com/RealisNetwork/substrate", branch = "polkadot-v0.9.9", optional = true }
pallet-scheduler = { default-features = false, git = "https://github.com/RealisNetwork/substrate", branch = "polkadot-v0.9.9" }
#pallet-society = { default-features = false, git = "https://github.com/RealisNetwork/substrate", branch = "polkadot-v0.9.9" }
pallet-sudo = { default-features = false, git = "https://github.com/RealisNetwork/substrate", branch = "polkadot-v0.9.9" }
pallet-timestamp = { default-features = false, git = "https://github.com/RealisNetwork/substrate", branch = "polkadot-v0.9.9" }
#pallet-tips = { default-features = false, git = "https://github.com/RealisNetwork/substrate", branch = "polkadot-v0.9.9" }
#pallet-treasury = { default-features = false, git = "https://github.com/RealisNetwork/substrate", branch = "polkadot-v0.9.9" }
pallet-utility = { default-features = false, git = "https://github.com/RealisNetwork/substrate", branch = "polkadot-v0.9.9" }
pallet-transaction-payment = { default-features = false, git = "https://github.com/RealisNetwork/substrate", branch = "polkadot-v0.9.9" }
pallet-transaction-payment-rpc-runtime-api = { default-features = false, git = "https://github.com/RealisNetwork/substrate", branch = "polkadot-v0.9.9" }
pallet-vesting = { default-features = false, git = "https://github.com/RealisNetwork/substrate", branch = "polkadot-v0.9.9" }

pallet-staking = { version = "4.0.0-dev", default-features = false, path = "../../../frame/staking-pool" }
pallet-staking-reward-curve = { version = "3.0.0", path = "../../../frame/staking-pool/reward-curve" }
pallet-nft = { version = "0.0.2", default-features = false, path = "../../../frame/nft" }
pallet-nft-delegate = { version = "0.0.1", default-features = false, path = "../../../frame/nft-delegate" }
realis-game-api = { version = "0.0.1", default-features = false, path = "../../../frame/realis-game-api" }
realis-primitives = { version = "0.0.2", default-features = false, path = "../../../primitives/realis"}
realis-bridge = { version = "0.0.1", default-features = false, path = "../../../frame/realis-bridge" }
marketplace = { version = "0.0.1", default-features = false, path = "../../../frame/marketplace" }

[build-dependencies]
substrate-wasm-builder = { git = "https://github.com/RealisNetwork/substrate", branch = "polkadot-v0.9.9"}

[dev-dependencies]
sp-io = { git = "https://github.com/RealisNetwork/substrate", branch = "polkadot-v0.9.9" }

[features]
default = ["std"]
with-tracing = [ "frame-executive/with-tracing" ]
std = [
	"codec/std",
	"log/std",

	"sp-authority-discovery/std",
	"sp-consensus-babe/std",
	"sp-block-builder/std",
	"sp-inherents/std",
	"node-primitives/std",
	"sp-offchain/std",
	"sp-core/std",
	"sp-std/std",
	"sp-api/std",
	"sp-io/std",
	"sp-runtime/std",
	"sp-staking/std",
	#	"sp-keyring",
	"sp-session/std",
	"sp-transaction-pool/std",
	"sp-version/std",
	"sp-npos-elections/std",

	"frame-executive/std",
	#	"frame-benchmarking/std",
	"frame-support/std",
	"frame-system/std",
	#	"frame-system-benchmarking/std",
	"frame-election-provider-support/std",
	"frame-system-rpc-runtime-api/std",
	"frame-try-runtime/std",

	"pallet-assets/std",
	"pallet-authority-discovery/std",
	"pallet-authorship/std",
	"pallet-babe/std",
	"pallet-balances/std",
	#	"pallet-bounties/std",
	#	"pallet-collective/std",
	"pallet-contracts/std",
	"pallet-contracts-primitives/std",
	"pallet-contracts-rpc-runtime-api/std",
	#	"pallet-democracy/std",
	"pallet-election-provider-multi-phase/std",
	#	"pallet-elections-phragmen/std",
	"pallet-gilt/std",
	"pallet-grandpa/std",
	"pallet-im-online/std",
	"pallet-indices/std",
	"pallet-identity/std",
	"pallet-lottery/std",
	#	"pallet-membership/std",
	"pallet-mmr/std",
	"pallet-multisig/std",
	"pallet-offences/std",
	#	"pallet-proxy/std",
	"pallet-randomness-collective-flip/std",
	"pallet-recovery/std",
	"pallet-session/std",
	"pallet-scheduler/std",
	#	"pallet-society/std",
	"pallet-sudo/std",
	"pallet-timestamp/std",
	#	"pallet-tips/std",
	#	"pallet-treasury/std",
	"pallet-utility/std",
	"pallet-transaction-payment/std",
	"pallet-transaction-payment-rpc-runtime-api/std",
	"pallet-vesting/std",


	"pallet-staking/std",
	"pallet-nft/std",
	"pallet-nft-delegate/std",
	"realis-game-api/std",
	"realis-primitives/std",
	"realis-bridge/std",
	"marketplace/std",
]
runtime-benchmarks = [
	"frame-benchmarking",
	"frame-support/runtime-benchmarks",
	"frame-system/runtime-benchmarks",
	"pallet-election-provider-multi-phase/runtime-benchmarks",
	"sp-runtime/runtime-benchmarks",
	"pallet-assets/runtime-benchmarks",
	"pallet-babe/runtime-benchmarks",
	"pallet-balances/runtime-benchmarks",
#	"pallet-bounties/runtime-benchmarks",
#	"pallet-collective/runtime-benchmarks",
	"pallet-contracts/runtime-benchmarks",
#	"pallet-democracy/runtime-benchmarks",
#	"pallet-elections-phragmen/runtime-benchmarks",
	"pallet-gilt/runtime-benchmarks",
	"pallet-grandpa/runtime-benchmarks",
	"pallet-identity/runtime-benchmarks",
	"pallet-im-online/runtime-benchmarks",
	"pallet-indices/runtime-benchmarks",
	"pallet-lottery/runtime-benchmarks",
#	"pallet-membership/runtime-benchmarks",
	"pallet-mmr/runtime-benchmarks",
	"pallet-multisig/runtime-benchmarks",
#	"pallet-proxy/runtime-benchmarks",
	"pallet-scheduler/runtime-benchmarks",
#	"pallet-society/runtime-benchmarks",
	"pallet-timestamp/runtime-benchmarks",
	#	"pallet-tips/runtime-benchmarks",
	#	"pallet-treasury/runtime-benchmarks",
	"pallet-utility/runtime-benchmarks",
	"pallet-vesting/runtime-benchmarks",
#	"pallet-offences-benchmarking",
#	"pallet-session-benchmarking",
	"frame-system-benchmarking",
	"pallet-staking/runtime-benchmarks",
	"pallet-nft/runtime-benchmarks",
	"pallet-nft-delegate/runtime-benchmarks",
	"marketplace/runtime-benchmarks",
	"realis-game-api/runtime-benchmarks",
	"realis-bridge/runtime-benchmarks",
	"hex-literal",
]
try-runtime = [
	"frame-executive/try-runtime",
	"frame-try-runtime",
	"frame-system/try-runtime",
	"pallet-assets/try-runtime",
	"pallet-authority-discovery/try-runtime",
	"pallet-authorship/try-runtime",
	"pallet-babe/try-runtime",
	"pallet-balances/try-runtime",
	"pallet-contracts/try-runtime",
	"pallet-grandpa/try-runtime",
	"pallet-im-online/try-runtime",
	"pallet-indices/try-runtime",
	"pallet-lottery/try-runtime",
	"pallet-mmr/try-runtime",
	"pallet-multisig/try-runtime",
	"pallet-identity/try-runtime",
	"pallet-scheduler/try-runtime",
	"pallet-offences/try-runtime",
	"pallet-randomness-collective-flip/try-runtime",
	"pallet-session/try-runtime",
	"pallet-sudo/try-runtime",
	"pallet-election-provider-multi-phase/try-runtime",
	"pallet-timestamp/try-runtime",
	"pallet-transaction-payment/try-runtime",
	"pallet-utility/try-runtime",
	"pallet-recovery/try-runtime",
	"pallet-vesting/try-runtime",
	"pallet-gilt/try-runtime",

	"pallet-staking/try-runtime",

	#	"pallet-bounties/try-runtime",
	#	"pallet-collective/try-runtime",
	#	"pallet-democracy/try-runtime",
	#	"pallet-elections-phragmen/try-runtime",
	#	"pallet-membership/try-runtime",
	#	"pallet-proxy/try-runtime",
	#	"pallet-tips/try-runtime",
	#	"pallet-treasury/try-runtime",
	#	"pallet-society/try-runtime",
]
# Make contract callable functions marked as __unstable__ available. Do not enable
# on live chains as those are subject to change.
contracts-unstable-interface = [
	"pallet-contracts/unstable-interface"
]
